*
{
    box-sizing: border-box;
}
#sign_section
{
    margin-left: 300px;

}
#firstname , #lastname, #emailDiv, #pasdiv, #confirmdiv, #phonediv, #dobdiv, #gendiv, #locdiv, #lang,  #attachResult,
 #attach2,  #loc1Div, #loc2Div, #loc3Div, #loc4Div ,#quadiv, #professiondiv, #attach2{
    color: red;
    font-size: 12px;
    font-weight: bolder;
}
#main{

    background: url('../images/wallpaper2.jpg') 100%;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 160vh;
    background-position: center;
    position: relative;
}

.content{
   background-color: #eee;
}

.gutter-left
{
    padding-left: 15px;
}
.gutter-right
{
    padding-right: 15px;
}
.right
{
    padding-right:0px;
    padding-left:0px;
}
.signpanel
{
    margin-top: 60px;
    background: none;
    background-color: #d9edf7;
    opacity: 0.9;
    box-shadow: 1px 1px 5px #eaebed;

}
.policy p{
    text-align: center;
    color: white;
    line-height: 15px;
}

.heading{
    text-align: left;
    height: 80px;
    padding: 10px;
}
.heading p
{
   color: #3f8cbf;
   font-weight: bolder;
   font-size: 20px;
   text-align: center;
   padding: 10px;
}
.mypanel{
    background-color: #fff;
    margin: 0 auto;
    border:2px solid #bce8f1;
}
.gen{
    color: #b7b9bc;
}
#sub{
    background-color: #2c6596;
    color: white;
    padding: 13px 20px 13px 20px;
    border-radius: 5px;
    border: 0;
}
.fname, .lname
{ 
    margin-top: 15px;
}
.control-label{
    color: #333;
}
#login1
{
    background-color:#2c6596;
    border: 0;

}
a{
    margin-left: 10px;
}

#attach{
    background-color: #303c51;
    color: white;
    padding: 7px 20px 7px 20px;
    border-radius: 5px;
    border: 0;
}
#logo{

    height: 70px;
}
#sub{
    background-color: #5cb85b;
    padding: 10px 20px 10px 20px;
    color: white;
    text-decoration: none;
    float: right;
    margin-top: 15px;
}
#text1{
    font-size: 20px;
    margin-top: 20px;

}
#text2{
    font-size: 17px;
}
@media only screen and (max-width: 768px)
{
    #main {
        height: 300vh;
    }
    #list
    {
        width: 250px;
    }
    #signInBtn{
        float: left;
        text-align: center;
        margin-top: 0px;
    }
}




